// src/styles/base/_layout.scss
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: flex-start;

  main {
    flex-grow: 1;
    min-width: 0;
  }
}